<header>
    <div class="header-content">
        <div class="logo">
            <img src="logo1.png" alt="Logo do infoflash">
        </div>
        <div class="search-bar">
            <input type="text" placeholder="Digite aqui para procurar notícias...">
            <button>Procurar</button>
        </div>
        <nav>
            <ul>
                <li><a href="#noticias">Notícias</a></li>
                <li><a href="#videos">Videos</a></li>
                <li><a href="#dicas_e_tuto">Dicas & mais</a></li>
                <li><a href="#sua_conta">Sua Conta</a></li>
                <li><a href="#Suporte">Suporte</a></li>
            </ul>
        </nav>
    </div>
</header>
<main>
    <div class="carousel">
        <div><img src="noticia1.png" alt="Slide 1"></div>
        <div><img src="noticia2.png" alt="Slide 2"></div>
        <div><img src="noticia3.png" alt="Slide 3"></div>
    </div>
</main>
