main {
    background: rgb(30, 30, 30);
    height: calc(100vh - 120px);
}



nav {
    height: 60px;
    background: rgb(125, 0, 150);
    display: flex;
    justify-content: center;
    gap: 60px;
    align-items: center;

    .item {
        color: rgb(250, 250, 250);
        font-size: 1.3rem;
    }
}
