main {
    background: rgb(30, 30, 30);
    height: calc(105vh - 100px);
}



nav {
    height: 40px;
    background: rgb(35, 34, 36);
    display: flex;
    padding-right: 75%;
    justify-content: center;
    gap: 20px;
    align-items: center;

    .item {
        color: rgb(250, 250, 250);
        font-size: 1.0rem;
    }
}
