<table class="table">
    <thead class="thead">
        <tr class="tr">
            <th>ID</th>
            <th>Nome</th>
            <th>Nome de Usuário</th>
            <th>Email</th>
            <th>Senha</th>
            <th>Delete</th>
            <th>Edite</th>
        </tr>
    </thead>
    <tbody>
        <!-- <tr *ngFor="let usuario of usuarios">
            <td #id>{{usuario.id}}</td>
            <td>{{usuario.nome}}</td>
            <td>{{usuario.nomeDeUsuario}}</td>
            <td>{{usuario.email}}</td>
            <td>{{usuario.senha}}</td>
            <td (click)="deleteUsuario(id.innerHTML)">X</td>
            <td (click)="editarUsuario(id.innerHTML)">Edite</td>
        </tr> -->
        <p>teste</p>
    </tbody>
</table>
